@import "../../styles/variables.scss";

.services {
  padding: 80px 20px;
  background-color: var(--background-color);
  color: var(--text-color);

  .title_wrapper {
    margin-bottom: 60px;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #9d0208;
    text-align: left;
    position: relative;
  }

  .titles_icon {
    margin-right: 10px;
    font-size: 16px;
    color: var(--primary-color);
    transition: color 0.3s ease;
  }

  .subtitle {
    font-size: 1rem;
    color: #555;
    text-align: left;

    a {
      color: #9d0208; // Цвет ссылки
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #7f0216;
      }
    }
  }

  .card {
    background-color: #fff;
    border: none;
    color: var(--text-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 16px 24px rgba(255, 87, 34, 0.5);
    }

    .ant-card-cover {
      background: transparent;
      padding: 20px 0;
    }

    .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      transition: transform 0.3s ease;
    }

    .customIcon {
      width: 100px;
      height: 100px;
      fill: #000;

      path {
        fill: #000;
      }
      transition: fill 0.3s ease, transform 0.6s ease;
    }

    .cardTitle {
      color: #141414;
      margin-bottom: 15px;
      font-size: 1.8rem;
      font-weight: 600;
      transition: color 0.3s ease;
      text-transform: uppercase;
    }

    .cardDescription {
      color: #141414;
      font-weight: 600;
      font-size: 1.1rem;
      text-align: left;
      flex-grow: 1;
      line-height: 1.6;
    }
  }
}

.modalContainer {
  .ant-modal {
    background-color: #f5f5f5; // Светло-серый фон модалки
    border-radius: 10px;
    overflow: hidden;
  }

  .ant-modal-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; // Светло-серый фон
    color: #333333; // Темно-серый текст
    height: 80vh; // Ограничиваем высоту модалки
  }

  .swiperContainer {
    position: relative;
    flex: 1; // Позволяет Swiper занимать оставшееся пространство

    .swiper-button-prev,
    .swiper-button-next {
      color: #9d0208;
      width: 50px;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
    }

    .swiper-button-prev {
      left: -60px;
    }

    .swiper-button-next {
      right: -60px;
    }
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    flex: 1; // Занимает всю доступную высоту
    padding: 40px;
    text-align: center;
    overflow-y: auto;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer и Edge */

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .modalTitle {
      font-size: 2rem;
      color: #333333; // Темно-серый текст
      margin-bottom: 20px;
    }

    .serviceTable {
      margin-bottom: 20px;

      .ant-table-thead > tr > th {
        background-color: #cccccc; // Светло-серый фон заголовков таблицы
        color: #333333; // Темно-серый текст заголовков
      }

      .ant-table-tbody > tr > td {
        background-color: #ffffff; // Белый фон ячеек таблицы
        color: #333333; // Темно-серый текст ячеек
      }
    }

    .additionalServicesTitle {
      font-size: 1.5rem;
      color: #333333; // Темно-серый текст
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .bookButton {
      display: flex;
      padding: 5px 10px;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #9d0208;
      border: none;
      width: 100%;
      height: 50px;
      border-radius: 8px;
      font-size: 1.2rem;
      margin-top: auto; // Прижимает кнопку к нижней части контейнера
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #7f0216;
      }
    }
  }
}

/* При необходимости переопределяем стили инпутов внутри модалки */
.modalContainer {
  .modalContent {
    .ant-input {
      background-color: #ffffff; // Белый фон для инпутов
      color: #333333; // Темно-серый текст
      border-color: #cccccc; // Светло-серый бордер
      border-radius: 8px;

      &:hover,
      &:focus {
        border-color: var(--primary-color);
        box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.5); // Синяя тень при фокусе
      }

      &::placeholder {
        color: #999999; // Цвет плейсхолдера
      }
    }

    .ant-form-item-label > label {
      color: var(--light-text-color);
    }

    .ant-btn-primary {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      width: 100%;
      margin-top: 20px;
      border-radius: 8px;

      &:hover,
      &:focus {
        background-color: #0b5ed7;
        border-color: #0b5ed7;
      }
    }
  }
}

/* Обновленные стили для кнопок Swiper */
.swiper_button_prev_custom,
.swiper_button_next_custom {
  color: #9d0208; /* Основной цвет */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 47px;
  height: 47px;

  position: absolute;

  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);

  &::after {
    font-size: 20px;
  }
}

.swiperButton_icon {
  transform: rotate(180deg);
}
.swiper_button_prev_custom {
  left: 10px;
}

.swiper_button_next_custom {
  right: 10px;
}

:global {
  .swiper-button-next,
  .swiper-button-prev {
    color: #9d0208; /* Основной цвет */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      font-size: 20px;
    }
  }

  .swiper-pagination {
    bottom: 10px !important;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
    margin: 0 4px !important;
    background-color: #9d0208;
  }

  .swiper-pagination-bullet-active {
    background: #d32f2f !important; /* Вторичный цвет */
  }
}
