@import "../../styles/variables.scss";

.reviews {
  padding: 50px 32px;
  border-radius: 32px;
  background-color: #1e1e1e;
  color: $text-color;

  .arrow_left_icon {
    transform: rotate(180deg);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .title {
      color: $primary-color;
    }

    .buttonContainer {
      display: flex;
      gap: 10px;

      .prevButton,
      .nextButton {
        background-color: $primary-color;
        border: none;
        color: $primary-color;
        font-size: 24px;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        border-radius: 16px;
        cursor: pointer;
        outline: none;

        &:hover {
          color: darken($primary-color, 10%);
        }
      }
    }
  }

  .cardContainer {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    cursor: grab;
    gap: 16px;
    padding: 0 16px;

    &::-webkit-scrollbar {
      display: none; /* Скрыть скроллбар для Chrome, Safari и Opera */
    }
    -ms-overflow-style: none; /* Скрыть скроллбар для Internet Explorer и Edge */
    scrollbar-width: none; /* Скрыть скроллбар для Firefox */

    &:active {
      cursor: grabbing;
    }
  }

  .cardWrapper {
    min-width: calc(25% - 16px); /* 4 карточки на экране */
    transition: transform 0.3s ease-in-out;

    @media (max-width: 1200px) {
      min-width: calc(33.33% - 16px); /* 3 карточки на экране */
    }

    @media (max-width: 768px) {
      min-width: calc(50% - 16px); /* 2 карточки на экране */
    }

    @media (max-width: 576px) {
      min-width: calc(100% - 16px); /* 1 карточка на экране */
    }
  }

  .card {
    background-color: $review-card-background;
    border: none;
    color: $light-text-color;
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .carImage {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    .content {
      padding: 10px 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .name {
      padding: 0 15px 15px;
    }
  }
}
