/* src/styles/fonts.scss */
@font-face {
  font-family: "Fact";
  src: url("../assets/fonts/Fact-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fact";
  src: url("../assets/fonts/Fact-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fact";
  src: url("../assets/fonts/Fact-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
