// src/styles/variables.scss

$primary-color: #9d0208; // Основной акцентный цвет
$secondary-color: #d32f2f; // Дополнительный акцентный цвет
$background-color: #e9e9e9; // Цвет фона
$text-color: #141414; // Цвет основного текста
$light-text-color: #dddddd; // Светлый текст для описаний
$spacing-unit: 10px; // Единица отступов

// Дополнительные переменные
$card-background: #1e1e1e;
$review-card-background: #2c2c2c;

// Шрифты
$font-family: "Fact", sans-serif; // Основной шрифт Fact
$font-weight-regular: 400; // Обычный
$font-weight-bold: 700; // Жирный
$font-weight-light: 300; // Легкий

// src/styles/variables.scss

:root {
  --primary-color: #9d0208;
  --secondary-color: #d32f2f;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --light-text-color: #999999;
  --card-background: #ffffff;
  --modal-background: #fff;
  --modal-text: #ffffff;
  --hover-color: #d32f2f;
}
