.mapSection {
  margin-top: 40px;
}

.title {
  font-size: 2rem !important;
  font-weight: 700 !important;
  color: #9d0208 !important;

  text-align: left;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.contacts {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.map {
  flex: 1;
  min-width: 300px;
  width: 100%;
  border-radius: 10px;
  background-color: #cccccc;
}

.contactCard {
  background-color: #e1e1e1;
  border-radius: 10px;
  color: #1e1e1e;
  border: none !important;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;

  strong {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #9d0208;
  }

  span {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 600;
  }
}

.socialBlock {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.socialCard {
  flex: 1;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  text-decoration: none; /* Убираем подчеркивание ссылки */

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .icon {
    font-size: 28px; /* Увеличиваем размер иконок */
    color: #9d0208;

    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}
