/* src/pages/MainPage.module.scss */
@import "../../styles/variables.scss";

.introSection {
  position: relative;
  width: 100%;
  background-color: #9d0208;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 30px;
}

.introContent {
  display: flex;
  flex-direction: column;
  align-items: center; // Центрируем содержимое
  text-align: center;
}

.navigationButtons {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navButton {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #0b5ed7; // Синий цвет при наведении
  }
}

.mainHeading {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
  max-width: 800px;

  height: 115px;
}

.typewriter {
  color: #0d7dfd; // Синий цвет текста
}

.introButton {
  background-color: #0d7dfd; // Синий цвет кнопки
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0b5ed7; // Темнее синий при наведении
  }
}

.appContainer {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Остальные стили */
.formWrapper {
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

.formTitle {
  color: var(--text-color);
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.serviceForm {
  .ant-input {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    border-radius: 8px;

    &:hover,
    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.5); // Синяя тень при фокусе
    }
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-form-item-label > label {
    color: var(--light-text-color);
  }

  .ant-btn-primary,
  .introButton {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;

    &:hover,
    &:focus {
      background-color: #0b5ed7;
      border-color: #0b5ed7;
    }
  }
}

.mapWrapper {
  margin: 20px 0;
  border-radius: 10px;
}

/* Анимация появления контента */
.contentVisible {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
