@import "../../styles/variables.scss";

.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7f7f7f; // Серый фон
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

.about_section {
  margin-top: 130px;
}

.logoContainer {
  text-align: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

.introSection {
  position: relative;
  width: 100%;
  background-color: #9d0208;
  display: flex;
  align-items: center; // Центрирование по вертикали
  justify-content: center;
  height: 100vh;
  padding: 0;
  overflow: hidden; // Чтобы скрыть возможные артефакты анимации
}

/* Остальные ваши стили остаются без изменений */

.introContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Выравнивание по левому краю
  text-align: left;
  height: 100%;
  width: 100%;
  padding: 60px 30px 20px 30px;
}

.navigationButtons {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navButton {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.mainHeadingContainer {
  flex: 1;
  display: flex;
  align-items: center; // Центрирование заголовка по вертикали
  width: 100%;
}

.typewriter {
  color: #000;
  margin-left: 20px;
}

.mainHeading {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  max-width: 800px;

  .typewriterText {
    margin-left: 20px;
  }

  .breakOnMobile {
    display: none; /* Скрыто по умолчанию */
  }

  @media (max-width: 768px) {
    font-size: 2.5rem;

    .typewriter {
      margin: 0;
    }

    .breakOnMobile {
      display: block; /* Показывается только на мобильных устройствах */
    }
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

.introButton {
  align-self: center; // Центрирование кнопки по горизонтали
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #5f5e5d;
  }
}

.appContainer {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Остальные стили */
.formWrapper {
  background-color: #e1e1e1;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

.formTitle {
  color: var(--text-color);
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.serviceForm {
  .ant-input {
    background-color: #ffffff; // Белый фон для инпутов
    color: #333333; // Темно-серый текст
    border-color: #cccccc; // Светло-серый бордер
    border-radius: 8px;

    &:hover,
    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.5); // Синяя тень при фокусе
    }

    &::placeholder {
      color: #999999; // Цвет плейсхолдера
    }
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-form-item-label > label {
    color: var(--light-text-color);
  }

  .ant-btn-primary,
  .introButton {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;

    &:hover,
    &:focus {
      background-color: #0b5ed7;
      border-color: #0b5ed7;
    }
  }
}

.mapWrapper {
  margin: 20px 0;
  border-radius: 10px;
}

/* Анимация появления контента */
.contentVisible {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

:global {
  .swiper-button-next,
  .swiper-button-prev {
    color: #9d0208; /* Основной цвет */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      font-size: 20px;
    }
  }

  .swiper-pagination {
    bottom: 10px !important;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
    margin: 0 4px !important;
    background-color: #9d0208;
  }

  .swiper-pagination-bullet-active {
    background: #d32f2f !important; /* Вторичный цвет */
  }
}
