@import "../../styles/variables.scss";

.header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 0 30px;
  height: 60px;

  .headerWrapper {
    max-width: 1360px;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoWrapper {
    .logo {
      width: 120px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;

    .navList {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 20px;

        .navLink {
          color: $primary-color;
          text-decoration: none;
          font-size: 18px;
          transition: color 0.3s;
          position: relative;
          padding-bottom: 5px;

          &:hover {
            color: $secondary-color;
          }

          &.active {
            color: $secondary-color;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $secondary-color;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }

  .menuIcon {
    display: none;
    cursor: pointer;

    .icon {
      font-size: 28px;
      color: $primary-color;
    }
  }
}

/* Мобильные стили */
@media (max-width: 768px) {
  .header {
    padding: 0 20px;
    height: 60px;

    .headerWrapper {
      padding: 0;
    }

    /* Показываем иконку бургера */
    .menuIcon {
      display: block;
    }

    /* Навигация скрыта по умолчанию */
    .nav {
      position: fixed;
      top: 60px;
      right: 0;
      width: 100%; /* Увеличиваем ширину меню на мобильных устройствах */
      height: calc(100% - 60px);
      background-color: rgba(0, 0, 0, 0.95);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      overflow-y: auto;
      z-index: 999;
    }

    /* При открытии меню */
    .nav.open {
      transform: translateX(0);
    }

    .navList {
      flex-direction: column;
      align-items: center;
      padding-top: 40px; /* Увеличиваем верхний отступ для эстетики */

      li {
        margin: 20px 0; /* Увеличиваем отступы между элементами */

        .navLink {
          font-size: 28px; /* Увеличиваем размер шрифта */
          padding: 10px 20px; /* Добавляем внутренние отступы */
          width: 100%;
          text-align: center;

          &:hover {
            background-color: rgba(
              255,
              87,
              34,
              0.1
            ); /* Добавляем эффект при наведении */
            border-radius: 5px;
          }
          position: relative;
        }
      }
    }
  }

  /* Затемнение фона при открытом меню */
  .navOverlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
}
