@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Кастомные стили для Swiper */
.swiperContainer {
  width: 100%;
  height: 100%;
}

.swiperWrapper {
  position: relative;
  padding-bottom: 56.25%; /* Соотношение сторон 16:9 по умолчанию */
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  padding-bottom: 100%; /* Квадратная форма */
  position: relative;
}

.swiperImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Показываем всю фотографию */
}

:global {
  .swiper-button-next,
  .swiper-button-prev {
    color: #ff5722; /* Основной цвет */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-pagination {
    bottom: 10px !important;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
    margin: 0 4px !important;
  }

  .swiper-pagination-bullet-active {
    background: #d32f2f !important; /* Вторичный цвет */
  }

  /* Стили для модального окна */
  .ant-modal-header,
  .ant-modal-body,
  .ant-modal-footer {
    background-color: rgb(30, 30, 30) !important;
    color: #ffffff !important;
  }

  .ant-modal-close {
    color: #ffffff;
  }

  .ant-modal-close:hover {
    color: #ff5722;
  }

  /* Стили для таблицы */
  .ant-table {
    background-color: transparent !important;
    color: #ffffff !important;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    background-color: transparent !important;
    color: #ffffff !important;
    border-color: #444444 !important;
  }

  /* Удаление теней и бордеров таблицы */
  .ant-table-container,
  .ant-table-container table {
    background-color: transparent !important;
  }
}

/* Кастомные стили для модального окна */
.customModal {
  :global {
    .ant-modal {
      max-width: 800px; /* Убедитесь, что максимальная ширина достаточна */
      margin: 0 auto;
      background-color: #1e1e1e !important; /* Убираем белый фон */
      border-radius: 15px !important; /* Закругленные углы */
    }

    .ant-modal-body {
      padding: 0 !important;
      max-height: 80vh;
      /* overflow: hidden; */ /* Удалено для разрешения внутренней прокрутки */
      display: flex;
      flex-direction: column;
    }
  }
}

.card {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Стили для кнопок */
.customButtonDefault {
  background-color: transparent;
  color: #ff5722;
  border: 1px solid #ff5722;
}

.customButtonDefault:hover {
  background-color: rgba(255, 87, 34, 0.1);
  border-color: #ff5722;
  color: #ff5722;
}

.customButtonPrimary {
  background-color: #ff5722;
  border: 1px solid #ff5722;
  color: white;
}

.customButtonPrimary:hover {
  background-color: #d32f2f;
  border-color: #d32f2f;
}

/* Адаптивность для модального окна */
@media (max-width: 768px) {
  .customModal {
    :global {
      .ant-modal {
        width: 90% !important; /* Уменьшаем ширину на маленьких экранах */
      }
    }

    .ant-modal-body .flex {
      flex-direction: column !important;
    }

    .swiperWrapper {
      padding-bottom: 100%; /* Квадратная форма на мобильных */
    }
  }
}

.customModal {
  :global {
    .ant-modal {
      max-width: 800px; /* Убедитесь, что максимальная ширина достаточна */
    }

    .ant-modal-content {
      background-color: #1e1e1e !important;
    }
  }
}

@media (min-width: 768px) {
  .customModal {
    :global {
      .ant-modal {
        max-width: 800px; /* Убедитесь, что максимальная ширина достаточна */
      }

      .ant-modal-content {
        background-color: #1e1e1e !important;
      }
    }

    .swiperWrapper {
      padding-bottom: 100%; /* Квадратная форма */
    }
  }
}
