/* src/components/Footer/Footer.module.scss */
@import "../../styles/variables.scss";

.footer {
  background-color: var(--background-color);
  color: var(--light-text-color);
  padding: 40px 20px;
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  a {
    color: var(--light-text-color);
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.socialMedia {
  display: flex;
  gap: 20px;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    color: var(--light-text-color);

    &:hover {
      color: var(--primary-color);
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

p {
  margin-top: 20px;
  color: var(--light-text-color);
  font-size: 0.9rem;
  margin-bottom: 0 !important;
}
